/* font 다운 필요 */

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* body -------------------------------------- */
body {
    font-family: 'GmarketSansMedium';
    color: #0473bc;
    /* color: white; */
}

.wrapper {
    text-align: center;
    background-color: white;
    /* background-color: #0473bc; */
    margin: 0 auto;
    margin-top: 5%;
    width: 400px;
    height: 550px;
    border-radius: 5%;
    box-shadow:0px 5px 20px #0473bc;
    /* box-shadow: 10px 5px 5px #add7e6; */
}


/* header -------------------------------------- */

.cont-tit {
    display: inline-block;
    margin: 10% 0 10% 0;
    border-bottom: 1px solid #0473bc;
}

.txt-tit {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.txt-tit-desc {
    font-size: 0.9rem;
    margin: 4% 0 5% 0;
    font-weight: bold;
}

/* main -------------------------------------- */

input {
    font-weight: bold;
}

.form-loan-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    
}

.box-deco {
    border-radius: 10px;
    background: linear-gradient( to right, yellow, white );
    line-height: 1.5;
}


.form-loan-info span {
    display: inline-block;
    width: 100px;
    height: 20px;
    font-weight: bold;
    background-color:#dce533;
}

.put-loan-amount:hover {
    box-shadow:0px 1px 10px #0473bc;
    border: 3px solid #0473bc;
}

.put-loan-amount:focus {
    border: 3px solid #0473bc;
    outline: none;
}

.put-loan-period:hover {
    box-shadow:0px 1px 10px #0473bc;
    border: 3px solid #0473bc;
    
}

.put-loan-period:focus {
    border: 3px solid #0473bc;
    outline: none;
}

.put-loan-interest-rate:hover {
    box-shadow:0px 1px 10px #0473bc;
    border: 3px solid #0473bc;
}

.put-loan-interest-rate:focus {
    border: 3px solid #0473bc;
    outline: none;
}

.put-loan-amount, .put-loan-period, .put-loan-interest-rate {
    /* border: black solid 2px; */
    margin-bottom: 10px;
    /* margin-left: 20px; */
    border: 3px solid #b5cbd9;
    border-radius: 5px;
    width: 200px;
    height: 25px;
    padding-left: 10px;
}

.txt-loan-interest-rate {
    margin-bottom: 1rem;
}

/* method -------------------------------------- */

.method {
    margin: 0 auto;
    margin-top: px;
    margin-bottom: 20px;
    width: 100px;
    border-bottom: 1px solid #0473bc;
    padding-bottom: 3%;
    font-size: 1rem;
}

.txt-repayment-type {
    margin-top: 5%;
    font-size: 0.8rem;
}

/* button -------------------------------------- */

.btn-container {
    margin-top: 5%;
}

button.reset {
    margin-bottom: 2rem;
}

.cal, .reset {
    color: #0473bc;
    font-weight: bold;
    border: 3px solid #b5cbd9;
    border-radius: 5px;
}

.cal:hover {
    box-shadow:0px 1px 10px #0473bc;
    border: 3px solid #0473bc;
}

.reset:hover {
    box-shadow:0px 1px 10px #0473bc;
    border: 3px solid #0473bc;
}

/* loading -------------------------------------- */

@keyframes rotate {
    50% {
        transform: rotate(180deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}

.sec-loading {
    margin-bottom: 5rem;
    position: relative;
    opacity: 50%;
}

.img-loading {
    width: 100px;
    height: 100px;
    animation: rotate 3s infinite linear;
}


/* result -------------------------------------- */
.sec-short-result {
    margin-bottom: 1rem;
}

.table-detailed-result {
    display: inline-block;
}